.fluid-ratio{
    position: relative;
    width: 10%;
    min-width: 78px;
    aspect-ratio: 1/1;
    text-align: center;
}

.favourite-btn {
    background: none;
    border: none;
    font-size: 20px;
    }

.favourite-btn:hover {
    transform: scale(1.1);
    }